html,body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.divider {
	border-bottom: 1px solid #d3d3d3;
}

.left-menu {
	height: 100%;
	width: 30%;
	border: 1px solid blue;
}
.mid-menu {
	height: 100%;
	width: 30%;
	border: 1px solid purple;
}
.right-menu {
	height: 100%;
	width: 40%;
	border: 1px solid green;
}

.nav-sidebar {
	/*margin-right: -20px;  20px padding + 1px border */
}
.nav-sidebar > li > a {
	border-radius: 5px;
	padding-right: 20px;
	padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
	color: black;
	opacity: 0.8;
	background-color: #e6e6fa;
}

.inline-icon {
	margin-right: 5px;
}

.project-name {
	font-size: 22px;
	padding-top: 25px;
}

.tool-bar {
	height: 70px;
	width: 100%;
}

.action-btn {
	padding: 10px;
	margin: 10px;
}

.action-btn-active-icon {
	margin: 5px 10px 5px 5px;
	padding: 2px;
	color: #6495ed;
}

.action-btn-inactive-icon {
	margin: 5px 10px 5px 5px;
	padding: 2px;
	color: gray;
}

.show-more {
	font-size: 12px;
	margin-top: 20px;
	color: gray;
}

.task-section {
	margin: 20px;
	border-bottom: 1px solid #d3d3d3;
}

.section-header {
	font-size: 12px;
	margin: 10px;
	cursor: pointer;
	color: #9370DB;
}

.task {
	height: 45px;
	padding: 9px;
	list-style: none;
	cursor: pointer;
	border-radius: 10px;
}

.task:hover {
	background-color: #e6e6fa;
}

.task-project-name {
	color: #d3d3d3;
}

.ddl-time {
	height: 20px;
	font-size: 12px;
	color: pink;
	display: inline-block;
	text-align: center;
	margin-left: 3px;
}

.desc-text {
	font-size: 16px;
	line-height: 24px;
	height: 100%;
	width: 100%;
	border: none;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	overflow-y: auto;
}